# Python
__pycache__/
*.py[cod]
*.so

# Entornos virtuales
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
/media/

# Firebird (bases de datos locales, NO subir)
*.fdb
*.gdb

# Archivos del sistema
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Docker (se regeneran en cada build)
*.tar
4.2
.4.2
